<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cv.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .page {
        width: 960px;
        margin: auto;
        font-family: 'Source sans pro', Georgia;
        font-size: 16px;
    }

    h1 {
        font-weight: bold;
    }

    /** name + address container */
    .container-name-and-address .center {
        border: dashed;
    }

    /** /name + address container */
</style>
<!---->

<body>
    <!--resume-->
    <div id="vue" class="page">
        <!--name + address container-->
        <div class="container_name_and_address">
            <div class=text-center>
                <h1 class="text-primary font-weight-bold" v-html="person.firstname + ' ' + person.lastname"></h1><br />
                <table class="table" style="background-color:rgb(94, 108, 238)">
                    <tr class="bg-primary ">
                        <td
                            v-html="person.address.streetAddress +' '+ person.address.city + ' '+ person.address.postal_cod">
                        </td>
                        <td v-html="person.phonenumbers"></td>
                        <td v-html="person.email"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end name and adress container-->


        <!--begin second conteiner with content-->
        <div class="page">
            <div class="section">
                <dl class="row">
                    <!--Objectif-->
                    <dt class="col-sm-3 text-primary">
                        <h3 v-html="content.objectif"></h3>
                    </dt>
                    <dd class="col-sm-9">
                        <p v-html="content.r1"></p>
                    </dd>
                    <!--Other Profile-->
                    <dt class="col-sm-3 text-primary">
                        <h3 v-html="content.other_profile.other_profile"></h3>
                    </dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dd class="col-sm-6">
                                <ul>
                                    <li v-for="li in content.other_profile.task">{{li}}</li>
                                </ul>
                            </dd>
                            <dd class="col-sm-6">
                                <ul></ul>
                                <li v-for="li in content.other_profile.task_1">{{li}}</li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>
                    <!--Computer skills-->
                    <dt class="col-sm-3 text-primary">
                        <h3 v-html="content.l3"></h3>
                    </dt>
                    <dd class="col-sm-9">
                        <p v-html="content.r3"></p>
                    </dd>
                </dl>
                <!-- formation-->
                <dt class="col-sm-3 text-primary">
                    <h3 v-html="content.l4"></h3>
                </dt>
                <dd class="col-sm-9">
                    <h3 v-html="content.formation.task"></h3>
                    <h4 v-html="content.formation.name_institution"></h4>
                    <h3 v-html="content.formation.task_1"></h3>
                    <h4 v-html="content.formation.name_institution_1"></h4>
                    <h3 v-html="content.formation.task_2"></h3>
                    <h4 v-html="content.formation.name_institution_1"></h4>
                </dd>
                </dd>
                <!--project-->
                <dt class="col-sm-3 text-primary">
                    <h3 v-html="content.l5"></h3>
                </dt>
                <dd class="col-sm-9">
                    <p v-html="content.r1"></p>
                </dd>
                <!--prof expirience-->
                <dt class="col-sm-3 text-primary">
                    <h3 v-html="content.l6"></h3>
                </dt>
                <dd class="col-sm-9">
                    <h3
                        v-html="content.exp_prof.name_company + ' ' + content.exp_prof.location + ' ' + content.exp_prof.year">
                    </h3><br />
                    <ul>
                        <li v-for="li in content.exp_prof.task">{{li}}</li>
                    </ul>
                </dd>
                <!--work expirience-->
                <dt class="col-sm-3 text-primary">
                    <h3 v-html="content.l7"></h3>
                </dt>
                <dd class="col-sm-9">
                    <h3
                        v-html="content.work_exp_1.name_company + ' ' + content.work_exp_1.location + ' ' + content.work_exp_1.year">
                    </h3><br />
                    <ul>
                        <li v-for="li in content.work_exp_1.task">{{li}}</li>
                    </ul>
                    <h3
                        v-html="content.work_exp_2.name_company + ' ' + content.work_exp_2.location + ' ' + content.work_exp_2.year">
                    </h3><br />
                    <ul>
                        <li v-for="li in content.work_exp_2.task">{{li}}</li>
                    </ul>
                </dd>
                </dl>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#vue',
                data: {
                    person: {
                        firstname: "Corina",
                        lastname: "Plesca",
                        address:
                        {
                            "streetAddress": "506-365, boul. Deguire,",
                            "city": "Montreal,",
                            "postal_cod": "H4N 2T8"
                        },
                        "phonenumbers": "+1 514 924 0173",
                        "email": "korywa@hotmail.com"
                    },
                    content: {
                        objectif: "Objectif",
                        r1: "Obtenir un stage en intégration Web afin de confirmer mes compétences acquises lors de ma formation. Et contribuer à la réussite des projets web de votre entreprise en mettant à profit mes atouts et mes expériences antérieures.",
                        other_profile: {
                            other_profile: "Outre Profil",
                            task: [
                                "Approche créative",
                                " Orientée vers les solutions et respecter les échéanciers",
                                "Capacité de travailler sous pression"
                            ],
                            task_1: [
                                "Dynamique et collaboratrice",
                                "Compétences linguistiques: français, roumain, russe, anglais",
                                "Dédiée, passionnée et ayant l'esprit d'initiative"
                            ]
                        },
                        r2: "Cinq projets avec PHP, Javascript, HTML 5, CSS 3, Photoshop: https://github.com/cplesca",
                        l3: "Compétences informatiques",
                        r3: "JavaScript, CSS 3 & SASS/LESS, HTML 5, JQuery, WordPress, Joomla, MS SQL, PHP, Java, Macromedia Flash, WebStorm, PHPStorm, Adobe Photoshop, Notepad++, WampServer, FileZilla, Santora, MSOffice",
                        l4: "Formations",
                        formation: {
                            task: "Intégration de sites Web, AEC - 2018",
                            task_1: "Sciences, Spécialisation en informatique, BAC - 2007 - 2012",
                            task_2: "Compatibilité, AEC - 2007",

                            name_institution: "Institut supérieur d’informatique, Montréal",
                            name_institution_1: "Université d’État Alecu Russo, Moldavie",
                            name_institution_2: "École professionnelle de Balti, Moldavie"

                        },

                        l5: "Projets",
                        r5: "Cinq projets avec PHP, Javascript, HTML 5, CSS 3, Photoshop:",
                        l6: "Expérience Professionnelle",
                        exp_prof: {
                            name_company: "Intégratrice Web chez CIPTI",
                            location: "(Moldavie)",
                            year: "2012-2013",
                            "task": [
                                "Intégrer des éléments de design graphique et de contenu aux pages Web;",
                                "Adopter les meilleures pratiques « SEO » pour la structure et le contenu du site Web dans l'environnement Joomla;",
                                "Participer à des projets internes de l’entreprise",
                                "Développer du code HTML et CSS; Créer du nouveau code, documenter, tester et implémenter dans un environnement de production.",
                                "Répondre aux demandes des clients et résoudre des bogues.",
                                "Contribuer activement à la réalisation de nouveaux projets. Gérer les tâches et la charge de travail de manière efficace et indépendante."
                            ]
                        },
                        work_exp_1: {
                            name_company: "Caissière/ Service à la clientèle chez Marché Épicure ",
                            location: "(Montréal)",
                            year: "2017 – à présent",
                            "task": [
                                "Accueillir et aider le client du marché;",
                                "Assurer l’image de marque de l’entreprise;",
                                "Maitriser des logiciels des caisses;",
                                "Tenir le journal des caisses et identifier les écarts;",
                                "Gérer des réclamations et les retours;"
                            ],
                        },
                        work_exp_2: {
                            name_company: "Technicienne comptable chez Technofasad",
                            location: "(Moldavie)",
                            year: "2013-2017",
                            "task": [
                                "Exécuter toutes les activités financières;",
                                "Assurer les états financiers et les rapports de gestion;",
                                "Préparer les déclarations de revenus, les registres et les systèmes financiers;",
                                "Analyser les états financiers mensuels et annuels;",
                                "Créer et gérer les bases de données informatisées;"
                            ],
                        },
                        l7: "Expériences de travail"
                    }
                }

            })
        </script>
</body>

</html>